<div class="search-container">
    <div class="search-header">
        <mat-form-field floatLabel="never">
            <input matInput (keyup)="searchBreed($event.target.value)" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
</div>

<div class="breed-list" *ngIf="(breedsData$ | async) as breedsData; else loadingOrError">
    <mat-card class="example-card" *ngFor="let breed of breedsData.breeds">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ breed.name }}</mat-card-title>
            <mat-card-subtitle>{{ breed.breed }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                {{ breed.description }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    
    
</div>
<ng-template #loadingOrError>
    <ng-container *ngIf="error; else loading">
       <div class="error">
           {{error}}
       </div> 
    </ng-container>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</ng-template>

<div *ngIf="(breedsData$ | async) || {}; let breedsData">
    <mat-paginator
        [length]="breedsData?.totalCount"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageOptions($event)">
    </mat-paginator>
</div>


