.search-container {
    display: flex;
    padding: 10px;
}
.breed-list {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
}

mat-card {
    max-width: 300px;
    margin: 10px;       
}

mat-spinner {
    margin: 0 auto;
}

.error {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #f8d7da;
    border-radius: .25rem;
    color: #721c24;
}

mat-chip {
    margin: 0 auto;
    /* max-width: 200px; */
}

.search-header {
    margin: 0 auto;
}

.search-header mat-form-field {
    width: 400px;
    background: #363636;
    color: white;
    border-radius: 33px;
    padding: 0 10px 0 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-flex {
    align-items: flex-end;
}